<section id="reportsPage">
  <div class="" id="home">
    <div class="container">
      <div class="row tm-content-row tm-mt-big">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Last Month Sales</p>
                                <h6 class="mb-0">Rs.{{total}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Users</p>
                                <h6 class="mb-0">{{userCount}}</h6>                           
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Orders</p>
                                <h6 class="mb-0"></h6>
                                {{totalOrdersPlaced}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-pie fa-3x text-primary"></i>
                            <div class="ms-3">
                                 <a href="/admin/adminSalesReport"></a>
                                <p class="mb-2">Total Sales</p>
                                <h6 class="mb-0">Rs.{{totalEarnings}}</h6>
                            </div>
                        </div>
                    </div>
<!-- Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Single Bar Chart</h6>
                            <form>
      <label for="year">Select a year:</label>
      <input type="number" id="year" name="year" min="2022" max="2023" value="2023">
      <button type="button" onclick="updateSalesData()" class="btn-dark">Update</button>
    </form>
       <canvas id="myChart"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
      let salesData = {
        '2023': [{{ jan }}, {{ feb }}, {{ mar }}, {{ apr }}, {{ may }}, {{ jun }}],
      };
      const ctx = document.getElementById('myChart');
      let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['January', 'February', 'March', 'April', 'May', 'June'],
          datasets: [{
            label: 'Number of sales',
            data: salesData['2023'],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
      function updateSalesData() {
        let year = document.getElementById('year').value;
        myChart.data.datasets[0].data = salesData[year];
        myChart.update();
      }
    </script>
                        </div>
                    </div>                                 
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Pie Chart</h6>
                            <canvas id="myChart2"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              const ctx2 = document.getElementById('myChart2');
              const data = {
                labels: [
                  'Orders Delivered',
                  'Orders Placed',
                  'Orders Returned',
                  'Orders Cancelled'
                ],
                datasets: [{
                  labels: 'Orders Status',
                  data: [{{deliveredCounts}}, {{placedCounts}}, {{cancelledCounts}}, {{returnCounts}}],
                  backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                  ],
                  hoverOffset: 4
                }]
              };
              const config = {
                type: 'pie',
                data: data,
              };
              new Chart(ctx2, config);
            </script>
                        </div>
                    </div>
                   
                </div>
            </div>
            <!-- Chart End -->
                </div> 
            </div>
</section>