<section class="page-add">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="page-breadcrumb">
                    <h2>{{product.category}}<span>.</span></h2>
                    <a href="#">Home</a>
                    <a href="/shop">Products</a>
                    <a class="active" href="#">{{product.category}}</a>
                </div>
            </div>
            <div class="col-lg-8">
                <img src="" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Product Page Section Beign -->
<section class="product-page">
    <div class="container">
        <div class="product-control">
            <a href="#">Previous</a>
            <a href="#">Next</a>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="product-slider owl-carousel">
                    <div class="product-img">
                        <figure>
                            {{!-- <img src="{{product.images.[0]}}" alt=""> --}}
                            <img src="{{product.images.[0]}}" id="main_product_image"
                                data-zoom-image='{{product.images.[0]}}' class="img-fluid" alt="image of product">
                            <div class="p-status">new</div>
                        </figure>
                    </div>
                </div>
                {{!-- <div style="width: 40vh;" class="mt-4">
                            <ul style="list-style-type: none; display: flex; flex-direction: row;" class="col-sm-12">
                                {{#each product.images}}
                                {{#unless @first}}
                                <li class="col-sm-12">
                            <img src="{{this}}" id="main_product_image" data-zoom-image='{{this}}' class="img-fluid" alt="image of product">
                                </li>
                                {{/unless}}
                                {{/each}}
                            </ul>
                    </div> --}}
                    <div style="width: 30vh;" class="mySlides mt-4">
                    <ul style="list-style-type: none; display: flex; flex-direction: row;" class="col-sm-12">
                        {{#each product.images}}
                        {{#unless @first}}
                        <li class="col-sm-12">
                            <a href="{{this}}" data-fancybox="product-gallery">
                            <img src="{{this}}" data-zoom-image="{{this}}" class="img-fluid " alt="image of product">
                            </a>
                        </li>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="product-content">
                    <h2>{{product.name}}</h2>
                    <div class="pc-meta">
                        <h5>₹{{product.price}}.00</h5>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                    <p>{{product.description}}</p>
                    <ul class="tags">
                        <li><span>Category :</span> {{product.category}}</li>
                        <li><span>In stock :</span> {{product.stock}}</li>
                        <li><span>Tags :</span> {{product.category}}, elegant, cool</li>
                    </ul>
                    {{!-- <div class="product-quantity">
                        <div class="pro-qty">
                            <input type="text" value="1">
                        </div>
                    </div>
                    <a onclick="addToCart('{{product._id}}')" class="primary-btn pc-btn">Add to cart</a>
                    <ul class="p-info">
                        <li>Product Information</li>
                        <li>Reviews</li>
                        <li>Product Care</li>
                    </ul> --}}
                    <div class="input-group mb-3">
                       <a onclick="addToCart('{{product._id}}')" class="primary-btn pc-btn">Add to cart</a>
                    {{#if userName}}
                        <a onclick="addWishlist('{{product._id}}')" class="primary-btn pc-btn mx-4">Add to Wishlist</a>
                        {{else}}
                        <a href="/login" class="primary-btn pc-btn mx-4">Add to Wishlist</a>
                        {{/if}}
                    <ul class="p-info">
                        <li>Product Information</li>
                        <li>Reviews</li>
                        <li>Product Care</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Page Section End -->

<!-- Related Product Section Begin -->
    <section class="related-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Related Products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="https://images.unsplash.com/photo-1586057708056-6149710c46cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>shirt</h6>
                            <p>₹899.00</p>
                            {{!-- {{/each}} --}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="https://images.unsplash.com/photo-1506634572416-48cdfe530110?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>Tshirt</h6>
                            <p>₹999.00</p>
                            {{!-- {{/each}} --}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="https://images.unsplash.com/photo-1536766820879-059fec98ec0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>shirt</h6>
                            <p>₹999.00</p>
                            {{!-- {{/each}} --}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-product-item">
                        <figure>
                            <a href="#"><img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>Tshirt</h6>
                            <p>₹699.00</p>
                            {{!-- {{/each}} --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Related Product Section End -->

{{!-- axios AddToCart and AddToWishlist --}}
<script>
    function addToCart(productId) {
        console.log("apicall")
        axios.get(`/addToCart/${productId}`).then((response) => {
            if (response.status) {
                Toastify({
                    text: `${response.data.message}`,
                    duration: 3000,
                    className: "info",
                    gravity: "bottom",
                    position: "center",
                    style: {
                        background: "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
                    }
                }).showToast();
            }
        }).catch((err) => {
            Toastify({
                text: "product is not added to cart",
                duration: 3000,
                className: "info",
                gravity: "bottom",
                position: "center",
                style: {
                    background: "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
                }
            }).showToast();
        })
    }
   function addWishlist(productId) {
  axios.get(`/addToWishlist/${productId}`).then((response) => {
    if (response.status) {
      Toastify({
        text: `${response.data.message}`,
        duration: 3000,
        className: "info",
        gravity: "bottom",
        position: "center",
        style: {
          background: "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
        }
      }).showToast();

      
    }
        }).catch((err) => {
            Toastify({
                text: "product is not added to wishlis",
                duration: 3000,
                className: "info",
                gravity: "bottom",
                position: "center",
                style: {
                    background: "linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%)",
                }
            }).showToast();
        })
    }
</script>

{{!-- elevate zoom --}}
<script>
    //function changeImage(element) {
    let main_prodcut_image = document.getElementById('main_product_image');
    //main_prodcut_image.src = element.src;
    $("#main_product_image").data('zoom-image', main_prodcut_image.src).elevateZoom({
       responsive: true, 
       zoomWindowWidth: 300, 
       zoomWindowHeight:300
    });
    //$("#main_product_image").elevateZoom({
    //    responsive: true
    //});
</script>
